Build started...
Build succeeded.
The Entity Framework tools version '8.0.3' is older than that of the runtime '9.0.0'. Update the tools for the latest features and bug fixes. See https://aka.ms/AAc1fbw for more information.
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
CREATE TABLE [nguoi_dung] (
    [id] int NOT NULL IDENTITY,
    [ho_ten] nvarchar(max) NOT NULL,
    [email] nvarchar(450) NOT NULL,
    [so_dien_thoai] nvarchar(max) NULL,
    [cccd] nvarchar(max) NULL,
    [ten_dang_nhap] nvarchar(max) NOT NULL,
    [mat_khau] nvarchar(max) NOT NULL,
    [anh_dai_dien] nvarchar(max) NULL,
    [dia_chi] nvarchar(max) NULL,
    [trang_thai] nvarchar(max) NULL,
    [lan_cuoi_hoat_dong] datetime2 NULL,
    [ngay_tao] datetime2 NULL,
    [ngay_cap_nhat] datetime2 NULL,
    CONSTRAINT [PK_nguoi_dung] PRIMARY KEY ([id])
);

CREATE TABLE [phong] (
    [id] int NOT NULL IDENTITY,
    [co_so_id] int NOT NULL,
    [ten_phong] nvarchar(max) NOT NULL,
    [ma_phong] nvarchar(max) NOT NULL,
    [loai_phong] nvarchar(max) NULL,
    [suc_chua] int NOT NULL,
    [so_giuong] int NULL,
    [gia_co_ban] decimal(18,2) NOT NULL,
    [dien_tich] decimal(18,2) NULL,
    [mo_ta] nvarchar(max) NULL,
    [trang_thai] nvarchar(max) NULL,
    [duoc_duyet] bit NULL,
    [ngay_tao] datetime2 NULL,
    [ngay_cap_nhat] datetime2 NULL,
    CONSTRAINT [PK_phong] PRIMARY KEY ([id])
);

CREATE TABLE [vai_tro] (
    [id] int NOT NULL IDENTITY,
    [ten_vai_tro] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_vai_tro] PRIMARY KEY ([id])
);

CREATE TABLE [danh_gia] (
    [id] int NOT NULL IDENTITY,
    [nguoi_dung_id] int NOT NULL,
    [phong_id] int NOT NULL,
    [dat_phong_id] int NULL,
    [so_sao] int NOT NULL,
    [binh_luan] nvarchar(max) NULL,
    [ngay_tao] datetime2 NULL,
    CONSTRAINT [PK_danh_gia] PRIMARY KEY ([id]),
    CONSTRAINT [FK_danh_gia_nguoi_dung_nguoi_dung_id] FOREIGN KEY ([nguoi_dung_id]) REFERENCES [nguoi_dung] ([id]) ON DELETE CASCADE,
    CONSTRAINT [FK_danh_gia_phong_phong_id] FOREIGN KEY ([phong_id]) REFERENCES [phong] ([id]) ON DELETE CASCADE
);

CREATE TABLE [dat_phong] (
    [id] int NOT NULL IDENTITY,
    [nguoi_dung_id] int NOT NULL,
    [phong_id] int NOT NULL,
    [ngay_nhan_phong] datetime2 NOT NULL,
    [ngay_tra_phong] datetime2 NOT NULL,
    [so_dem] int NOT NULL,
    [so_nguoi] int NOT NULL,
    [gio_nhan_phong] time NULL,
    [gio_tra_phong] time NULL,
    [gia_moi_dem] decimal(18,2) NOT NULL,
    [phi_don_dep] decimal(18,2) NULL,
    [phi_dich_vu] decimal(18,2) NULL,
    [thue] decimal(18,2) NULL,
    [tong_tien] decimal(18,2) NOT NULL,
    [dat_coc] decimal(18,2) NULL,
    [trang_thai] nvarchar(max) NULL,
    [ghi_chu] nvarchar(max) NULL,
    [ngay_tao] datetime2 NULL,
    [ngay_cap_nhat] datetime2 NULL,
    CONSTRAINT [PK_dat_phong] PRIMARY KEY ([id]),
    CONSTRAINT [FK_dat_phong_nguoi_dung_nguoi_dung_id] FOREIGN KEY ([nguoi_dung_id]) REFERENCES [nguoi_dung] ([id]) ON DELETE CASCADE,
    CONSTRAINT [FK_dat_phong_phong_phong_id] FOREIGN KEY ([phong_id]) REFERENCES [phong] ([id]) ON DELETE CASCADE
);

CREATE TABLE [nguoi_dung_vai_tro] (
    [nguoi_dung_id] int NOT NULL,
    [vai_tro_id] int NOT NULL,
    CONSTRAINT [PK_nguoi_dung_vai_tro] PRIMARY KEY ([nguoi_dung_id], [vai_tro_id]),
    CONSTRAINT [FK_nguoi_dung_vai_tro_nguoi_dung_nguoi_dung_id] FOREIGN KEY ([nguoi_dung_id]) REFERENCES [nguoi_dung] ([id]) ON DELETE CASCADE,
    CONSTRAINT [FK_nguoi_dung_vai_tro_vai_tro_vai_tro_id] FOREIGN KEY ([vai_tro_id]) REFERENCES [vai_tro] ([id]) ON DELETE CASCADE
);

CREATE TABLE [thanh_toan] (
    [id] int NOT NULL IDENTITY,
    [dat_phong_id] int NOT NULL,
    [loai_thanh_toan] nvarchar(max) NULL,
    [so_tien] decimal(18,2) NOT NULL,
    [phuong_thuc] nvarchar(max) NOT NULL,
    [trang_thai] nvarchar(max) NULL,
    [han_thanh_toan] datetime2 NULL,
    [ngay_thanh_toan] datetime2 NULL,
    [ngay_tao] datetime2 NULL,
    CONSTRAINT [PK_thanh_toan] PRIMARY KEY ([id]),
    CONSTRAINT [FK_thanh_toan_dat_phong_dat_phong_id] FOREIGN KEY ([dat_phong_id]) REFERENCES [dat_phong] ([id]) ON DELETE CASCADE
);

CREATE INDEX [IX_danh_gia_nguoi_dung_id] ON [danh_gia] ([nguoi_dung_id]);

CREATE INDEX [IX_danh_gia_phong_id] ON [danh_gia] ([phong_id]);

CREATE INDEX [IX_dat_phong_nguoi_dung_id] ON [dat_phong] ([nguoi_dung_id]);

CREATE INDEX [IX_dat_phong_phong_id] ON [dat_phong] ([phong_id]);

CREATE UNIQUE INDEX [IX_nguoi_dung_email] ON [nguoi_dung] ([email]);

CREATE INDEX [IX_nguoi_dung_vai_tro_vai_tro_id] ON [nguoi_dung_vai_tro] ([vai_tro_id]);

CREATE INDEX [IX_thanh_toan_dat_phong_id] ON [thanh_toan] ([dat_phong_id]);

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260331071240_InitialCreate', N'9.0.0');

CREATE TABLE [thanh_toan_doi_tac] (
    [id] int NOT NULL IDENTITY,
    [doi_tac_id] int NOT NULL,
    [so_tien] decimal(18,2) NOT NULL,
    [ten_ngan_hang] nvarchar(max) NOT NULL,
    [so_tai_khoan] nvarchar(max) NOT NULL,
    [chu_tai_khoan] nvarchar(max) NOT NULL,
    [trang_thai] nvarchar(max) NOT NULL,
    [url_bang_chung] nvarchar(max) NULL,
    [id_giao_dich] nvarchar(max) NULL,
    [ghi_chu_admin] nvarchar(max) NULL,
    [ngay_tao] datetime2 NOT NULL,
    [ngay_cap_nhat] datetime2 NULL,
    [ngay_thanh_toan] datetime2 NULL,
    CONSTRAINT [PK_thanh_toan_doi_tac] PRIMARY KEY ([id]),
    CONSTRAINT [FK_thanh_toan_doi_tac_doi_tac_doi_tac_id] FOREIGN KEY ([doi_tac_id]) REFERENCES [doi_tac] ([id]) ON DELETE CASCADE
);

CREATE INDEX [IX_thanh_toan_doi_tac_doi_tac_id] ON [thanh_toan_doi_tac] ([doi_tac_id]);

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260405072304_AddPayouts', N'9.0.0');

CREATE TABLE [tai_khoan_ngan_hang_doi_tac] (
    [id] int NOT NULL IDENTITY,
    [doi_tac_id] int NOT NULL,
    [ten_ngan_hang] nvarchar(max) NOT NULL,
    [so_tai_khoan] nvarchar(max) NOT NULL,
    [chu_tai_khoan] nvarchar(max) NOT NULL,
    [la_tai_khoan_chinh] bit NOT NULL,
    [ngay_tao] datetime2 NOT NULL,
    [ngay_cap_nhat] datetime2 NULL,
    CONSTRAINT [PK_tai_khoan_ngan_hang_doi_tac] PRIMARY KEY ([id])
);

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260405080920_ShortAddBanks', N'9.0.0');

COMMIT;
GO


