USE [master]
GO
/****** Object:  Database [QL_NhaNghi]    Script Date: 4/7/2026 3:20:35 PM ******/
CREATE DATABASE [QL_NhaNghi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_NhaNghi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QL_NhaNghi.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_NhaNghi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QL_NhaNghi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_NhaNghi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_NhaNghi]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[anh_co_so]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[anh_co_so](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[co_so_id] [int] NOT NULL,
	[url_anh] [nvarchar](max) NOT NULL,
	[la_anh_chinh] [bit] NULL,
	[thu_tu_hien_thi] [int] NULL,
	[ngay_tao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[anh_phong]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[anh_phong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[phong_id] [int] NOT NULL,
	[url_anh] [nvarchar](max) NOT NULL,
	[la_anh_chinh] [bit] NULL,
	[thu_tu_hien_thi] [int] NULL,
	[ngay_tao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[co_so_luu_tru]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[co_so_luu_tru](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doi_tac_id] [int] NOT NULL,
	[ten_co_so] [nvarchar](150) NOT NULL,
	[loai_co_so] [nvarchar](100) NULL,
	[tinh_thanh] [nvarchar](100) NULL,
	[quan_huyen] [nvarchar](100) NULL,
	[phuong_xa] [nvarchar](100) NULL,
	[dia_chi_chi_tiet] [nvarchar](255) NULL,
	[kinh_do] [decimal](10, 6) NULL,
	[vi_do] [decimal](10, 6) NULL,
	[mo_ta] [nvarchar](max) NULL,
	[gio_nhan_phong_mac_dinh] [time](7) NULL,
	[gio_tra_phong_mac_dinh] [time](7) NULL,
	[trang_thai] [nvarchar](50) NULL,
	[diem_trung_binh] [decimal](3, 2) NULL,
	[tong_so_danh_gia] [int] NULL,
	[ngay_tao] [datetime] NULL,
	[ngay_cap_nhat] [datetime] NULL,
	[url_anh_dai_dien] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danh_gia]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danh_gia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nguoi_dung_id] [int] NOT NULL,
	[phong_id] [int] NOT NULL,
	[dat_phong_id] [int] NULL,
	[so_sao] [int] NOT NULL,
	[binh_luan] [nvarchar](max) NULL,
	[ngay_tao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dat_phong]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dat_phong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nguoi_dung_id] [int] NOT NULL,
	[phong_id] [int] NOT NULL,
	[ngay_nhan_phong] [datetime] NOT NULL,
	[ngay_tra_phong] [datetime] NOT NULL,
	[so_dem] [int] NOT NULL,
	[so_nguoi] [int] NOT NULL,
	[gio_nhan_phong] [time](7) NULL,
	[gio_tra_phong] [time](7) NULL,
	[gia_moi_dem] [decimal](18, 2) NOT NULL,
	[phi_don_dep] [decimal](18, 2) NULL,
	[phi_dich_vu] [decimal](18, 2) NULL,
	[thue] [decimal](18, 2) NULL,
	[dat_coc] [decimal](18, 2) NULL,
	[tong_tien] [decimal](18, 2) NOT NULL,
	[trang_thai] [nvarchar](50) NULL,
	[ghi_chu] [nvarchar](max) NULL,
	[ngay_tao] [datetime] NULL,
	[ngay_cap_nhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doi_tac]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doi_tac](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nguoi_dung_id] [int] NOT NULL,
	[ma_doi_tac] [nvarchar](50) NULL,
	[ten_doanh_nghiep] [nvarchar](150) NOT NULL,
	[loai_hinh_kinh_doanh] [nvarchar](100) NULL,
	[dia_chi] [nvarchar](255) NULL,
	[mo_ta] [nvarchar](max) NULL,
	[trang_thai] [nvarchar](50) NULL,
	[ngay_tao] [datetime] NULL,
	[ngay_cap_nhat] [datetime] NULL,
	[so_du_vi] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[duyet_bai_dang]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[duyet_bai_dang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[phong_id] [int] NOT NULL,
	[admin_id] [int] NOT NULL,
	[trang_thai] [nvarchar](50) NOT NULL,
	[ghi_chu] [nvarchar](max) NULL,
	[ngay_duyet] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[duyet_dat_phong]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[duyet_dat_phong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dat_phong_id] [int] NOT NULL,
	[admin_id] [int] NOT NULL,
	[trang_thai] [nvarchar](50) NOT NULL,
	[ghi_chu] [nvarchar](max) NULL,
	[ngay_duyet] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[giao_dich_thanh_toan]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giao_dich_thanh_toan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[thanh_toan_id] [int] NOT NULL,
	[cong_thanh_toan] [nvarchar](50) NULL,
	[ma_giao_dich] [nvarchar](100) NULL,
	[ma_tham_chieu] [nvarchar](100) NULL,
	[trang_thai] [nvarchar](50) NULL,
	[noi_dung_phan_hoi] [nvarchar](max) NULL,
	[ngay_tao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khach_dat_phong]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khach_dat_phong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dat_phong_id] [int] NOT NULL,
	[ho_ten] [nvarchar](100) NOT NULL,
	[so_dien_thoai] [nvarchar](15) NULL,
	[cccd] [nvarchar](20) NULL,
	[vai_tro] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lich_su_trang_thai_dat_phong]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lich_su_trang_thai_dat_phong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dat_phong_id] [int] NOT NULL,
	[trang_thai_cu] [nvarchar](50) NULL,
	[trang_thai_moi] [nvarchar](50) NOT NULL,
	[nguoi_thay_doi_id] [int] NULL,
	[ghi_chu] [nvarchar](max) NULL,
	[ngay_tao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[log_he_thong]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log_he_thong](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nguoi_dung_id] [int] NULL,
	[hanh_dong] [nvarchar](100) NOT NULL,
	[bang_tac_dong] [nvarchar](100) NULL,
	[khoa_chinh] [nvarchar](100) NULL,
	[du_lieu_cu] [nvarchar](max) NULL,
	[du_lieu_moi] [nvarchar](max) NULL,
	[ngay_tao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoi_dung]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoi_dung](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ho_ten] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[so_dien_thoai] [nvarchar](15) NULL,
	[cccd] [nvarchar](20) NULL,
	[ten_dang_nhap] [nvarchar](50) NOT NULL,
	[mat_khau] [nvarchar](255) NOT NULL,
	[anh_dai_dien] [nvarchar](max) NULL,
	[dia_chi] [nvarchar](255) NULL,
	[trang_thai] [nvarchar](50) NULL,
	[lan_cuoi_hoat_dong] [datetime] NULL,
	[ngay_tao] [datetime] NULL,
	[ngay_cap_nhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoi_dung_vai_tro]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoi_dung_vai_tro](
	[nguoi_dung_id] [int] NOT NULL,
	[vai_tro_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nguoi_dung_id] ASC,
	[vai_tro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phien_dang_nhap]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phien_dang_nhap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nguoi_dung_id] [int] NOT NULL,
	[token] [nvarchar](max) NOT NULL,
	[thiet_bi] [nvarchar](200) NULL,
	[dia_chi_ip] [nvarchar](50) NULL,
	[het_han_luc] [datetime] NULL,
	[ngay_tao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phong]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[co_so_id] [int] NOT NULL,
	[ten_phong] [nvarchar](100) NOT NULL,
	[ma_phong] [nvarchar](50) NOT NULL,
	[loai_phong] [nvarchar](100) NULL,
	[suc_chua] [int] NOT NULL,
	[so_giuong] [int] NULL,
	[gia_co_ban] [decimal](18, 2) NOT NULL,
	[dien_tich] [decimal](10, 2) NULL,
	[mo_ta] [nvarchar](max) NULL,
	[trang_thai] [nvarchar](50) NULL,
	[duoc_duyet] [bit] NULL,
	[ngay_tao] [datetime] NULL,
	[ngay_cap_nhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phong_tien_ich]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phong_tien_ich](
	[phong_id] [int] NOT NULL,
	[tien_ich_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[phong_id] ASC,
	[tien_ich_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tai_khoan_ngan_hang_doi_tac]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tai_khoan_ngan_hang_doi_tac](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doi_tac_id] [int] NOT NULL,
	[ten_ngan_hang] [nvarchar](max) NOT NULL,
	[so_tai_khoan] [nvarchar](max) NOT NULL,
	[chu_tai_khoan] [nvarchar](max) NOT NULL,
	[la_tai_khoan_chinh] [bit] NOT NULL,
	[ngay_tao] [datetime2](7) NOT NULL,
	[ngay_cap_nhat] [datetime2](7) NULL,
 CONSTRAINT [PK_tai_khoan_ngan_hang_doi_tac] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tien_ich]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tien_ich](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_tien_ich] [nvarchar](100) NOT NULL,
	[nhom_tien_ich] [nvarchar](100) NULL,
	[icon] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thanh_toan]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thanh_toan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dat_phong_id] [int] NOT NULL,
	[loai_thanh_toan] [nvarchar](50) NULL,
	[so_tien] [decimal](18, 2) NOT NULL,
	[phuong_thuc] [nvarchar](50) NOT NULL,
	[trang_thai] [nvarchar](50) NULL,
	[han_thanh_toan] [datetime] NULL,
	[ngay_thanh_toan] [datetime] NULL,
	[ngay_tao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thanh_toan_doi_tac]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thanh_toan_doi_tac](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doi_tac_id] [int] NOT NULL,
	[so_tien] [decimal](18, 2) NOT NULL,
	[ten_ngan_hang] [nvarchar](max) NOT NULL,
	[so_tai_khoan] [nvarchar](max) NOT NULL,
	[chu_tai_khoan] [nvarchar](max) NOT NULL,
	[trang_thai] [nvarchar](max) NOT NULL,
	[url_bang_chung] [nvarchar](max) NULL,
	[id_giao_dich] [nvarchar](max) NULL,
	[ghi_chu_admin] [nvarchar](max) NULL,
	[ngay_tao] [datetime2](7) NOT NULL,
	[ngay_cap_nhat] [datetime2](7) NULL,
	[ngay_thanh_toan] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thong_bao]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thong_bao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nguoi_dung_id] [int] NOT NULL,
	[tieu_de] [nvarchar](200) NOT NULL,
	[noi_dung] [nvarchar](max) NULL,
	[loai] [nvarchar](50) NULL,
	[da_doc] [bit] NULL,
	[ngay_tao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vai_tro]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vai_tro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_vai_tro] [nvarchar](50) NOT NULL,
	[nhom_vai_tro] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yeu_thich]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yeu_thich](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nguoi_dung_id] [int] NOT NULL,
	[phong_id] [int] NOT NULL,
	[ngay_tao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260331071240_InitialCreate', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260405072304_AddPayouts', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260405082124_AddPartnerResourcesSyncFinal', N'9.0.0')
GO
SET IDENTITY_INSERT [dbo].[anh_co_so] ON 

INSERT [dbo].[anh_co_so] ([id], [co_so_id], [url_anh], [la_anh_chinh], [thu_tu_hien_thi], [ngay_tao]) VALUES (1, 1, N'https://example.com/facilities/facility_1.jpg', 1, 1, CAST(N'2026-02-01T10:00:00.000' AS DateTime))
INSERT [dbo].[anh_co_so] ([id], [co_so_id], [url_anh], [la_anh_chinh], [thu_tu_hien_thi], [ngay_tao]) VALUES (2, 2, N'https://example.com/facilities/facility_2.jpg', 1, 1, CAST(N'2026-02-02T10:00:00.000' AS DateTime))
INSERT [dbo].[anh_co_so] ([id], [co_so_id], [url_anh], [la_anh_chinh], [thu_tu_hien_thi], [ngay_tao]) VALUES (3, 3, N'https://example.com/facilities/facility_3.jpg', 1, 1, CAST(N'2026-02-03T10:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[anh_co_so] OFF
GO
SET IDENTITY_INSERT [dbo].[anh_phong] ON 

INSERT [dbo].[anh_phong] ([id], [phong_id], [url_anh], [la_anh_chinh], [thu_tu_hien_thi], [ngay_tao]) VALUES (1, 1, N'https://example.com/rooms/room_1.jpg', 1, 1, CAST(N'2026-03-01T11:00:00.000' AS DateTime))
INSERT [dbo].[anh_phong] ([id], [phong_id], [url_anh], [la_anh_chinh], [thu_tu_hien_thi], [ngay_tao]) VALUES (2, 2, N'https://example.com/rooms/room_2.jpg', 1, 1, CAST(N'2026-03-02T11:00:00.000' AS DateTime))
INSERT [dbo].[anh_phong] ([id], [phong_id], [url_anh], [la_anh_chinh], [thu_tu_hien_thi], [ngay_tao]) VALUES (3, 3, N'https://example.com/rooms/room_3.jpg', 1, 1, CAST(N'2026-03-03T11:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[anh_phong] OFF
GO
SET IDENTITY_INSERT [dbo].[co_so_luu_tru] ON 

SET IDENTITY_INSERT [dbo].[co_so_luu_tru] OFF
GO
SET IDENTITY_INSERT [dbo].[danh_gia] ON 

INSERT [dbo].[danh_gia] ([id], [nguoi_dung_id], [phong_id], [dat_phong_id], [so_sao], [binh_luan], [ngay_tao]) VALUES (1, 15, 3, 2, 5, N'Phong tuyet voi, view dep, dich vu chuyen nghiep. Se quay lai!', CAST(N'2026-03-16T10:00:00.000' AS DateTime))
INSERT [dbo].[danh_gia] ([id], [nguoi_dung_id], [phong_id], [dat_phong_id], [so_sao], [binh_luan], [ngay_tao]) VALUES (2, 17, 6, 4, 5, N'Villa Bali phong cach, ho boi sang trong. Nhan vien than thien.', CAST(N'2026-03-21T10:00:00.000' AS DateTime))
INSERT [dbo].[danh_gia] ([id], [nguoi_dung_id], [phong_id], [dat_phong_id], [so_sao], [binh_luan], [ngay_tao]) VALUES (3, 19, 11, 6, 5, N'Island Suite xung dang tien, bai bien rieng, thuc an ngon.', CAST(N'2026-03-17T10:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[danh_gia] OFF
GO
SET IDENTITY_INSERT [dbo].[dat_phong] ON 

SET IDENTITY_INSERT [dbo].[dat_phong] OFF
GO
SET IDENTITY_INSERT [dbo].[doi_tac] ON 

INSERT [dbo].[doi_tac] ([id], [nguoi_dung_id], [ma_doi_tac], [ten_doanh_nghiep], [loai_hinh_kinh_doanh], [dia_chi], [mo_ta], [trang_thai], [ngay_tao], [ngay_cap_nhat], [so_du_vi]) VALUES (1, 4, N'DT001', N'Cong ty Luu Tru A', N'Khach san', N'Ha Noi', N'Doi tac quan ly co so tai Ha Noi.', N'Dang hoat dong', CAST(N'2026-01-01T09:00:00.000' AS DateTime), CAST(N'2026-02-01T09:00:00.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[doi_tac] ([id], [nguoi_dung_id], [ma_doi_tac], [ten_doanh_nghiep], [loai_hinh_kinh_doanh], [dia_chi], [mo_ta], [trang_thai], [ngay_tao], [ngay_cap_nhat], [so_du_vi]) VALUES (2, 5, N'DT002', N'Cong ty Luu Tru B', N'Homestay', N'Ho Chi Minh', N'Doi tac quan ly co so tai Ho Chi Minh.', N'Dang hoat dong', CAST(N'2026-01-02T09:00:00.000' AS DateTime), CAST(N'2026-02-02T09:00:00.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[doi_tac] ([id], [nguoi_dung_id], [ma_doi_tac], [ten_doanh_nghiep], [loai_hinh_kinh_doanh], [dia_chi], [mo_ta], [trang_thai], [ngay_tao], [ngay_cap_nhat], [so_du_vi]) VALUES (3, 6, N'DT003', N'Cong ty Luu Tru C', N'Can ho dich vu', N'Da Nang', N'Doi tac quan ly co so tai Da Nang.', N'Dang hoat dong', CAST(N'2026-01-03T09:00:00.000' AS DateTime), CAST(N'2026-02-03T09:00:00.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[doi_tac] OFF
GO
SET IDENTITY_INSERT [dbo].[duyet_bai_dang] ON 

INSERT [dbo].[duyet_bai_dang] ([id], [phong_id], [admin_id], [trang_thai], [ghi_chu], [ngay_duyet]) VALUES (1, 1, 1, N'Da duyet', N'Phong du tieu chuan, duyet dang.', CAST(N'2026-02-02T09:00:00.000' AS DateTime))
INSERT [dbo].[duyet_bai_dang] ([id], [phong_id], [admin_id], [trang_thai], [ghi_chu], [ngay_duyet]) VALUES (2, 2, 2, N'Da duyet', N'Phong du tieu chuan, duyet dang.', CAST(N'2026-02-03T09:00:00.000' AS DateTime))
INSERT [dbo].[duyet_bai_dang] ([id], [phong_id], [admin_id], [trang_thai], [ghi_chu], [ngay_duyet]) VALUES (3, 3, 1, N'Da duyet', N'Villa cao cap, duyet dang.', CAST(N'2026-02-04T09:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[duyet_bai_dang] OFF
GO
SET IDENTITY_INSERT [dbo].[duyet_dat_phong] ON 

INSERT [dbo].[duyet_dat_phong] ([id], [dat_phong_id], [admin_id], [trang_thai], [ghi_chu], [ngay_duyet]) VALUES (1, 1, 1, N'Da duyet', N'Booking hop le, da xac nhan.', CAST(N'2026-03-01T11:00:00.000' AS DateTime))
INSERT [dbo].[duyet_dat_phong] ([id], [dat_phong_id], [admin_id], [trang_thai], [ghi_chu], [ngay_duyet]) VALUES (2, 2, 2, N'Da duyet', N'Booking hop le, da xac nhan.', CAST(N'2026-03-02T11:00:00.000' AS DateTime))
INSERT [dbo].[duyet_dat_phong] ([id], [dat_phong_id], [admin_id], [trang_thai], [ghi_chu], [ngay_duyet]) VALUES (3, 3, 1, N'Da duyet', N'Booking hop le, da xac nhan.', CAST(N'2026-03-03T11:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[duyet_dat_phong] OFF
GO
SET IDENTITY_INSERT [dbo].[giao_dich_thanh_toan] ON 

INSERT [dbo].[giao_dich_thanh_toan] ([id], [thanh_toan_id], [cong_thanh_toan], [ma_giao_dich], [ma_tham_chieu], [trang_thai], [noi_dung_phan_hoi], [ngay_tao]) VALUES (1, 1, N'MoMo', N'MOMO_TXN_001', N'REF_001', N'Completed', N'Thanh toan MoMo thanh cong.', CAST(N'2026-03-01T11:30:00.000' AS DateTime))
INSERT [dbo].[giao_dich_thanh_toan] ([id], [thanh_toan_id], [cong_thanh_toan], [ma_giao_dich], [ma_tham_chieu], [trang_thai], [noi_dung_phan_hoi], [ngay_tao]) VALUES (2, 2, N'VNPay', N'VNPAY_TXN_002', N'REF_002', N'Completed', N'Thanh toan VNPay thanh cong.', CAST(N'2026-03-02T12:00:00.000' AS DateTime))
INSERT [dbo].[giao_dich_thanh_toan] ([id], [thanh_toan_id], [cong_thanh_toan], [ma_giao_dich], [ma_tham_chieu], [trang_thai], [noi_dung_phan_hoi], [ngay_tao]) VALUES (3, 3, N'MoMo', N'MOMO_TXN_003', N'REF_003', N'Completed', N'Dat coc MoMo thanh cong.', CAST(N'2026-03-03T11:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[giao_dich_thanh_toan] OFF
GO
SET IDENTITY_INSERT [dbo].[khach_dat_phong] ON 

INSERT [dbo].[khach_dat_phong] ([id], [dat_phong_id], [ho_ten], [so_dien_thoai], [cccd], [vai_tro]) VALUES (1, 1, N'Nguyen Van An', N'0900000001', N'001234567001', N'Truong nhom')
INSERT [dbo].[khach_dat_phong] ([id], [dat_phong_id], [ho_ten], [so_dien_thoai], [cccd], [vai_tro]) VALUES (2, 2, N'Tran Thi Binh', N'0900000002', N'001234567002', N'Truong nhom')
INSERT [dbo].[khach_dat_phong] ([id], [dat_phong_id], [ho_ten], [so_dien_thoai], [cccd], [vai_tro]) VALUES (3, 3, N'Le Quoc Cuong', N'0900000003', N'001234567003', N'Truong nhom')
SET IDENTITY_INSERT [dbo].[khach_dat_phong] OFF
GO
SET IDENTITY_INSERT [dbo].[lich_su_trang_thai_dat_phong] ON 

INSERT [dbo].[lich_su_trang_thai_dat_phong] ([id], [dat_phong_id], [trang_thai_cu], [trang_thai_moi], [nguoi_thay_doi_id], [ghi_chu], [ngay_tao]) VALUES (1, 1, NULL, N'Pending', 14, N'Khach dat phong.', CAST(N'2026-03-01T10:00:00.000' AS DateTime))
INSERT [dbo].[lich_su_trang_thai_dat_phong] ([id], [dat_phong_id], [trang_thai_cu], [trang_thai_moi], [nguoi_thay_doi_id], [ghi_chu], [ngay_tao]) VALUES (2, 1, N'Pending', N'Confirmed', 1, N'Admin xac nhan.', CAST(N'2026-03-01T11:00:00.000' AS DateTime))
INSERT [dbo].[lich_su_trang_thai_dat_phong] ([id], [dat_phong_id], [trang_thai_cu], [trang_thai_moi], [nguoi_thay_doi_id], [ghi_chu], [ngay_tao]) VALUES (3, 2, NULL, N'Pending', 15, N'Khach dat phong.', CAST(N'2026-03-02T10:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[lich_su_trang_thai_dat_phong] OFF
GO
SET IDENTITY_INSERT [dbo].[log_he_thong] ON 

INSERT [dbo].[log_he_thong] ([id], [nguoi_dung_id], [hanh_dong], [bang_tac_dong], [khoa_chinh], [du_lieu_cu], [du_lieu_moi], [ngay_tao]) VALUES (1, 1, N'LOGIN', N'phien_dang_nhap', N'1', NULL, N'Token tao moi', CAST(N'2026-03-30T07:00:00.000' AS DateTime))
INSERT [dbo].[log_he_thong] ([id], [nguoi_dung_id], [hanh_dong], [bang_tac_dong], [khoa_chinh], [du_lieu_cu], [du_lieu_moi], [ngay_tao]) VALUES (2, 1, N'APPROVE', N'duyet_bai_dang', N'1', N'trang_thai: Cho duyet', N'trang_thai: Da duyet', CAST(N'2026-02-02T09:00:00.000' AS DateTime))
INSERT [dbo].[log_he_thong] ([id], [nguoi_dung_id], [hanh_dong], [bang_tac_dong], [khoa_chinh], [du_lieu_cu], [du_lieu_moi], [ngay_tao]) VALUES (3, 2, N'APPROVE', N'duyet_bai_dang', N'2', N'trang_thai: Cho duyet', N'trang_thai: Da duyet', CAST(N'2026-02-03T09:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[log_he_thong] OFF
GO
SET IDENTITY_INSERT [dbo].[nguoi_dung] ON 

INSERT [dbo].[nguoi_dung] ([id], [ho_ten], [email], [so_dien_thoai], [cccd], [ten_dang_nhap], [mat_khau], [anh_dai_dien], [dia_chi], [trang_thai], [lan_cuoi_hoat_dong], [ngay_tao], [ngay_cap_nhat]) VALUES (1, N'Nguyen Van Ana', N'an@example.com', N'0900000001', N'001234567001', N'nguyenvanan', N'$2b$12$if6PeSpN49NI8oM2AbBfrOFznaXK.FaPDKt52zdoNGJNNdCb4nA8O', N'https://example.com/avatar/user_1.jpg', N'Ha Noi', N'Hoat dong', CAST(N'2026-01-02T08:00:00.000' AS DateTime), CAST(N'2025-12-03T08:00:00.000' AS DateTime), CAST(N'2026-04-03T21:09:41.353' AS DateTime))
INSERT [dbo].[nguoi_dung] ([id], [ho_ten], [email], [so_dien_thoai], [cccd], [ten_dang_nhap], [mat_khau], [anh_dai_dien], [dia_chi], [trang_thai], [lan_cuoi_hoat_dong], [ngay_tao], [ngay_cap_nhat]) VALUES (2, N'Tran Thi Binh', N'binh@example.com', N'0900000002', N'001234567002', N'tranthibinh', N'$2b$12$h0dX1T4fmWWQzHOr7QJr/uuKFt2wl/96JnlE42ZkhmHWuIqAsMy5W', N'https://example.com/avatar/user_2.jpg', N'Ho Chi Minh', N'Hoat dong', CAST(N'2026-01-03T08:00:00.000' AS DateTime), CAST(N'2025-12-04T08:00:00.000' AS DateTime), CAST(N'2026-01-03T08:00:00.000' AS DateTime))
INSERT [dbo].[nguoi_dung] ([id], [ho_ten], [email], [so_dien_thoai], [cccd], [ten_dang_nhap], [mat_khau], [anh_dai_dien], [dia_chi], [trang_thai], [lan_cuoi_hoat_dong], [ngay_tao], [ngay_cap_nhat]) VALUES (3, N'Le Quoc Cuong', N'cuong@example.com', N'0900000003', N'001234567003', N'lequoccuong', N'$2b$12$bADZlc9S.Qii5T09JX83MedIcc48DjR604J0xWOVNfDwrDvoKFuKm', N'https://example.com/avatar/user_3.jpg', N'Da Nang', N'Khong hoat dong', CAST(N'2026-01-04T08:00:00.000' AS DateTime), CAST(N'2025-12-05T08:00:00.000' AS DateTime), CAST(N'2026-01-04T08:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[nguoi_dung] OFF
GO
INSERT [dbo].[nguoi_dung_vai_tro] ([nguoi_dung_id], [vai_tro_id]) VALUES (1, 1)
INSERT [dbo].[nguoi_dung_vai_tro] ([nguoi_dung_id], [vai_tro_id]) VALUES (2, 2)
INSERT [dbo].[nguoi_dung_vai_tro] ([nguoi_dung_id], [vai_tro_id]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[phien_dang_nhap] ON 

INSERT [dbo].[phien_dang_nhap] ([id], [nguoi_dung_id], [token], [thiet_bi], [dia_chi_ip], [het_han_luc], [ngay_tao]) VALUES (1, 1, N'token_001_abcdef123456', N'Chrome Windows', N'192.168.1.1', CAST(N'2026-04-06T07:00:00.000' AS DateTime), CAST(N'2026-03-30T07:00:00.000' AS DateTime))
INSERT [dbo].[phien_dang_nhap] ([id], [nguoi_dung_id], [token], [thiet_bi], [dia_chi_ip], [het_han_luc], [ngay_tao]) VALUES (2, 2, N'token_002_abcdef123456', N'Safari iPhone', N'192.168.1.2', CAST(N'2026-04-06T07:00:00.000' AS DateTime), CAST(N'2026-03-30T07:00:00.000' AS DateTime))
INSERT [dbo].[phien_dang_nhap] ([id], [nguoi_dung_id], [token], [thiet_bi], [dia_chi_ip], [het_han_luc], [ngay_tao]) VALUES (3, 3, N'token_003_abcdef123456', N'Edge Windows', N'192.168.1.3', CAST(N'2026-04-06T07:00:00.000' AS DateTime), CAST(N'2026-03-30T07:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[phien_dang_nhap] OFF
GO
SET IDENTITY_INSERT [dbo].[phong] ON 

INSERT [dbo].[phong] ([id], [co_so_id], [ten_phong], [ma_phong], [loai_phong], [suc_chua], [so_giuong], [gia_co_ban], [dien_tich], [mo_ta], [trang_thai], [duoc_duyet], [ngay_tao], [ngay_cap_nhat]) VALUES (1, 1, N'Deluxe Ocean View', N'P001', N'Deluxe', 2, 1, CAST(1200000.00 AS Decimal(18, 2)), CAST(32.00 AS Decimal(10, 2)), N'Phong deluxe view bien, day du tien nghi cao cap.', N'occupied', 1, CAST(N'2026-02-01T09:30:00.000' AS DateTime), CAST(N'2026-04-03T10:17:55.493' AS DateTime))
INSERT [dbo].[phong] ([id], [co_so_id], [ten_phong], [ma_phong], [loai_phong], [suc_chua], [so_giuong], [gia_co_ban], [dien_tich], [mo_ta], [trang_thai], [duoc_duyet], [ngay_tao], [ngay_cap_nhat]) VALUES (2, 2, N'Urban Loft Studio', N'P002', N'Standard', 2, 1, CAST(850000.00 AS Decimal(18, 2)), CAST(25.00 AS Decimal(10, 2)), N'Studio phong cach hien dai giua trung tam thanh pho.', N'deleted', 0, CAST(N'2026-02-02T09:30:00.000' AS DateTime), CAST(N'2026-04-03T10:37:26.963' AS DateTime))
INSERT [dbo].[phong] ([id], [co_so_id], [ten_phong], [ma_phong], [loai_phong], [suc_chua], [so_giuong], [gia_co_ban], [dien_tich], [mo_ta], [trang_thai], [duoc_duyet], [ngay_tao], [ngay_cap_nhat]) VALUES (3, 3, N'Sunset Villa Suite', N'P003', N'Suite', 4, 2, CAST(2500000.00 AS Decimal(18, 2)), CAST(65.00 AS Decimal(10, 2)), N'Suite cao cap view hoang hon tuyet dep.', N'deleted', 0, CAST(N'2026-02-03T09:30:00.000' AS DateTime), CAST(N'2026-04-03T10:37:32.427' AS DateTime))
SET IDENTITY_INSERT [dbo].[phong] OFF
GO
INSERT [dbo].[phong_tien_ich] ([phong_id], [tien_ich_id]) VALUES (1, 1)
INSERT [dbo].[phong_tien_ich] ([phong_id], [tien_ich_id]) VALUES (1, 2)
INSERT [dbo].[phong_tien_ich] ([phong_id], [tien_ich_id]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[tai_khoan_ngan_hang_doi_tac] ON 

INSERT [dbo].[tai_khoan_ngan_hang_doi_tac] ([id], [doi_tac_id], [ten_ngan_hang], [so_tai_khoan], [chu_tai_khoan], [la_tai_khoan_chinh], [ngay_tao], [ngay_cap_nhat]) VALUES (1, 25, N'Vietcombank', N'123456789', N'NGUYEN VAN A', 0, CAST(N'2026-04-05T15:26:57.9107642' AS DateTime2), NULL)
INSERT [dbo].[tai_khoan_ngan_hang_doi_tac] ([id], [doi_tac_id], [ten_ngan_hang], [so_tai_khoan], [chu_tai_khoan], [la_tai_khoan_chinh], [ngay_tao], [ngay_cap_nhat]) VALUES (2, 21, N'Vietcombank', N'1028660104', N'TRAN DUC LONG', 1, CAST(N'2026-04-05T15:29:16.1206493' AS DateTime2), NULL)
INSERT [dbo].[tai_khoan_ngan_hang_doi_tac] ([id], [doi_tac_id], [ten_ngan_hang], [so_tai_khoan], [chu_tai_khoan], [la_tai_khoan_chinh], [ngay_tao], [ngay_cap_nhat]) VALUES (3, 26, N'Vietcombank', N'1028660104', N'TRAN DUC LONG', 1, CAST(N'2026-04-05T22:15:26.9738439' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[tai_khoan_ngan_hang_doi_tac] OFF
GO
SET IDENTITY_INSERT [dbo].[tien_ich] ON 

INSERT [dbo].[tien_ich] ([id], [ten_tien_ich], [nhom_tien_ich], [icon]) VALUES (1, N'Wifi', N'Co ban', N'wifi')
INSERT [dbo].[tien_ich] ([id], [ten_tien_ich], [nhom_tien_ich], [icon]) VALUES (2, N'May lanh', N'Co ban', N'ac')
INSERT [dbo].[tien_ich] ([id], [ten_tien_ich], [nhom_tien_ich], [icon]) VALUES (3, N'TV', N'Giai tri', N'tv')
SET IDENTITY_INSERT [dbo].[tien_ich] OFF
GO
SET IDENTITY_INSERT [dbo].[thanh_toan] ON 

INSERT [dbo].[thanh_toan] ([id], [dat_phong_id], [loai_thanh_toan], [so_tien], [phuong_thuc], [trang_thai], [han_thanh_toan], [ngay_thanh_toan], [ngay_tao]) VALUES (1, 1, N'Toan bo', CAST(4017000.00 AS Decimal(18, 2)), N'MoMo', N'Completed', CAST(N'2026-03-03T12:00:00.000' AS DateTime), CAST(N'2026-03-01T11:30:00.000' AS DateTime), CAST(N'2026-03-01T11:00:00.000' AS DateTime))
INSERT [dbo].[thanh_toan] ([id], [dat_phong_id], [loai_thanh_toan], [so_tien], [phuong_thuc], [trang_thai], [han_thanh_toan], [ngay_thanh_toan], [ngay_tao]) VALUES (2, 2, N'Toan bo', CAST(8245000.00 AS Decimal(18, 2)), N'The tin dung', N'Completed', CAST(N'2026-03-04T12:00:00.000' AS DateTime), CAST(N'2026-03-02T12:00:00.000' AS DateTime), CAST(N'2026-03-02T11:00:00.000' AS DateTime))
INSERT [dbo].[thanh_toan] ([id], [dat_phong_id], [loai_thanh_toan], [so_tien], [phuong_thuc], [trang_thai], [han_thanh_toan], [ngay_thanh_toan], [ngay_tao]) VALUES (3, 3, N'Dat coc', CAST(2017500.00 AS Decimal(18, 2)), N'MoMo', N'Completed', CAST(N'2026-03-05T12:00:00.000' AS DateTime), CAST(N'2026-03-03T11:30:00.000' AS DateTime), CAST(N'2026-03-03T11:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[thanh_toan] OFF
GO
SET IDENTITY_INSERT [dbo].[thanh_toan_doi_tac] ON 

INSERT [dbo].[thanh_toan_doi_tac] ([id], [doi_tac_id], [so_tien], [ten_ngan_hang], [so_tai_khoan], [chu_tai_khoan], [trang_thai], [url_bang_chung], [id_giao_dich], [ghi_chu_admin], [ngay_tao], [ngay_cap_nhat], [ngay_thanh_toan]) VALUES (1, 21, CAST(4000.00 AS Decimal(18, 2)), N'Vietcombank', N'1028660104', N'TRAN DUC LONG', N'paid', N'http://localhost:5000/uploads/rooms/500e56d9-af2a-4e5e-bda0-0099fb82e71a_OIP.jpg', NULL, N'21321', CAST(N'2026-04-05T14:30:30.9372745' AS DateTime2), CAST(N'2026-04-05T14:31:16.3487535' AS DateTime2), CAST(N'2026-04-05T14:31:16.3488065' AS DateTime2))
INSERT [dbo].[thanh_toan_doi_tac] ([id], [doi_tac_id], [so_tien], [ten_ngan_hang], [so_tai_khoan], [chu_tai_khoan], [trang_thai], [url_bang_chung], [id_giao_dich], [ghi_chu_admin], [ngay_tao], [ngay_cap_nhat], [ngay_thanh_toan]) VALUES (2, 21, CAST(4000.00 AS Decimal(18, 2)), N'Vietcombank', N'1028660104', N'TRAN DUC LONG', N'paid', N'http://localhost:5000/uploads/rooms/1104915d-fe1a-44ff-ba6d-e6410e4babc3_OIP (6).jpg', NULL, N'12312', CAST(N'2026-04-05T14:33:14.1931718' AS DateTime2), CAST(N'2026-04-05T14:33:47.5667728' AS DateTime2), CAST(N'2026-04-05T14:33:47.5667763' AS DateTime2))
INSERT [dbo].[thanh_toan_doi_tac] ([id], [doi_tac_id], [so_tien], [ten_ngan_hang], [so_tai_khoan], [chu_tai_khoan], [trang_thai], [url_bang_chung], [id_giao_dich], [ghi_chu_admin], [ngay_tao], [ngay_cap_nhat], [ngay_thanh_toan]) VALUES (3, 26, CAST(3000.00 AS Decimal(18, 2)), N'Vietcombank', N'1028660104', N'TRAN DUC LONG', N'paid', N'http://localhost:5000/uploads/rooms/4c4f2727-5e55-43fc-8f1a-f73f05e6dbd0_OIP (5) - Copy.jpg', NULL, N'123', CAST(N'2026-04-05T22:15:36.9741851' AS DateTime2), CAST(N'2026-04-05T22:16:51.4674955' AS DateTime2), CAST(N'2026-04-05T22:16:51.4675390' AS DateTime2))
SET IDENTITY_INSERT [dbo].[thanh_toan_doi_tac] OFF
GO
SET IDENTITY_INSERT [dbo].[thong_bao] ON 

INSERT [dbo].[thong_bao] ([id], [nguoi_dung_id], [tieu_de], [noi_dung], [loai], [da_doc], [ngay_tao]) VALUES (1, 14, N'Dat phong thanh cong', N'Dat phong #1 tai Azure Bay Resort da duoc xac nhan.', N'Dat phong', 0, CAST(N'2026-03-01T11:30:00.000' AS DateTime))
INSERT [dbo].[thong_bao] ([id], [nguoi_dung_id], [tieu_de], [noi_dung], [loai], [da_doc], [ngay_tao]) VALUES (2, 15, N'Check-out thanh cong', N'Cam on ban da luu tru tai Sunset Villa. Hen gap lai!', N'Dat phong', 1, CAST(N'2026-03-15T13:00:00.000' AS DateTime))
INSERT [dbo].[thong_bao] ([id], [nguoi_dung_id], [tieu_de], [noi_dung], [loai], [da_doc], [ngay_tao]) VALUES (3, 16, N'Dat phong duoc xac nhan', N'Booking Sapa Cabin #3 da duoc duyet.', N'Dat phong', 0, CAST(N'2026-03-03T11:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[thong_bao] OFF
GO
SET IDENTITY_INSERT [dbo].[vai_tro] ON 

INSERT [dbo].[vai_tro] ([id], [ten_vai_tro], [nhom_vai_tro]) VALUES (1, N'Super Admin', N'Admin')
INSERT [dbo].[vai_tro] ([id], [ten_vai_tro], [nhom_vai_tro]) VALUES (2, N'Admin', N'Admin')
INSERT [dbo].[vai_tro] ([id], [ten_vai_tro], [nhom_vai_tro]) VALUES (3, N'Nhan vien duyet', N'Admin')
SET IDENTITY_INSERT [dbo].[vai_tro] OFF
GO
SET IDENTITY_INSERT [dbo].[yeu_thich] ON 

INSERT [dbo].[yeu_thich] ([id], [nguoi_dung_id], [phong_id], [ngay_tao]) VALUES (1, 14, 1, CAST(N'2026-02-15T10:00:00.000' AS DateTime))
INSERT [dbo].[yeu_thich] ([id], [nguoi_dung_id], [phong_id], [ngay_tao]) VALUES (2, 14, 3, CAST(N'2026-02-16T10:00:00.000' AS DateTime))
INSERT [dbo].[yeu_thich] ([id], [nguoi_dung_id], [phong_id], [ngay_tao]) VALUES (3, 14, 11, CAST(N'2026-02-17T10:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[yeu_thich] OFF
GO
/****** Object:  Index [idx_co_so_doi_tac_id]    Script Date: 4/7/2026 3:20:35 PM ******/
CREATE NONCLUSTERED INDEX [idx_co_so_doi_tac_id] ON [dbo].[co_so_luu_tru]
(
	[doi_tac_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_danh_gia_phong_id]    Script Date: 4/7/2026 3:20:35 PM ******/
CREATE NONCLUSTERED INDEX [idx_danh_gia_phong_id] ON [dbo].[danh_gia]
(
	[phong_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_dat_phong_ngay_nhan]    Script Date: 4/7/2026 3:20:35 PM ******/
CREATE NONCLUSTERED INDEX [idx_dat_phong_ngay_nhan] ON [dbo].[dat_phong]
(
	[ngay_nhan_phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_dat_phong_nguoi_dung_id]    Script Date: 4/7/2026 3:20:35 PM ******/
CREATE NONCLUSTERED INDEX [idx_dat_phong_nguoi_dung_id] ON [dbo].[dat_phong]
(
	[nguoi_dung_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_dat_phong_phong_id]    Script Date: 4/7/2026 3:20:35 PM ******/
CREATE NONCLUSTERED INDEX [idx_dat_phong_phong_id] ON [dbo].[dat_phong]
(
	[phong_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dat_phong_trang_thai]    Script Date: 4/7/2026 3:20:35 PM ******/
CREATE NONCLUSTERED INDEX [idx_dat_phong_trang_thai] ON [dbo].[dat_phong]
(
	[trang_thai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__doi_tac__3F7CE076B9FA3D26]    Script Date: 4/7/2026 3:20:35 PM ******/
ALTER TABLE [dbo].[doi_tac] ADD UNIQUE NONCLUSTERED 
(
	[nguoi_dung_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__doi_tac__9EE94757C5DF2518]    Script Date: 4/7/2026 3:20:35 PM ******/
ALTER TABLE [dbo].[doi_tac] ADD UNIQUE NONCLUSTERED 
(
	[ma_doi_tac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_duyet_bai_dang_phong_id]    Script Date: 4/7/2026 3:20:35 PM ******/
CREATE NONCLUSTERED INDEX [idx_duyet_bai_dang_phong_id] ON [dbo].[duyet_bai_dang]
(
	[phong_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_duyet_dat_phong_dat_phong_id]    Script Date: 4/7/2026 3:20:35 PM ******/
CREATE NONCLUSTERED INDEX [idx_duyet_dat_phong_dat_phong_id] ON [dbo].[duyet_dat_phong]
(
	[dat_phong_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__nguoi_du__363698B3E51325C0]    Script Date: 4/7/2026 3:20:35 PM ******/
ALTER TABLE [dbo].[nguoi_dung] ADD UNIQUE NONCLUSTERED 
(
	[ten_dang_nhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__nguoi_du__AB6E616468F28038]    Script Date: 4/7/2026 3:20:35 PM ******/
ALTER TABLE [dbo].[nguoi_dung] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__nguoi_du__BD03D94C57206B67]    Script Date: 4/7/2026 3:20:35 PM ******/
ALTER TABLE [dbo].[nguoi_dung] ADD UNIQUE NONCLUSTERED 
(
	[so_dien_thoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_co_so_ma_phong]    Script Date: 4/7/2026 3:20:35 PM ******/
ALTER TABLE [dbo].[phong] ADD  CONSTRAINT [uq_co_so_ma_phong] UNIQUE NONCLUSTERED 
(
	[co_so_id] ASC,
	[ma_phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_phong_co_so_id]    Script Date: 4/7/2026 3:20:35 PM ******/
CREATE NONCLUSTERED INDEX [idx_phong_co_so_id] ON [dbo].[phong]
(
	[co_so_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_phong_trang_thai]    Script Date: 4/7/2026 3:20:35 PM ******/
CREATE NONCLUSTERED INDEX [idx_phong_trang_thai] ON [dbo].[phong]
(
	[trang_thai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BankAcc_Partner]    Script Date: 4/7/2026 3:20:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_BankAcc_Partner] ON [dbo].[tai_khoan_ngan_hang_doi_tac]
(
	[doi_tac_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tien_ich__072156A0121C1F86]    Script Date: 4/7/2026 3:20:35 PM ******/
ALTER TABLE [dbo].[tien_ich] ADD UNIQUE NONCLUSTERED 
(
	[ten_tien_ich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_thanh_toan_dat_phong_id]    Script Date: 4/7/2026 3:20:35 PM ******/
CREATE NONCLUSTERED INDEX [idx_thanh_toan_dat_phong_id] ON [dbo].[thanh_toan]
(
	[dat_phong_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_thanh_toan_trang_thai]    Script Date: 4/7/2026 3:20:35 PM ******/
CREATE NONCLUSTERED INDEX [idx_thanh_toan_trang_thai] ON [dbo].[thanh_toan]
(
	[trang_thai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__vai_tro__E59C937C0A93B2C5]    Script Date: 4/7/2026 3:20:35 PM ******/
ALTER TABLE [dbo].[vai_tro] ADD UNIQUE NONCLUSTERED 
(
	[ten_vai_tro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_nguoi_dung_phong_yeu_thich]    Script Date: 4/7/2026 3:20:35 PM ******/
ALTER TABLE [dbo].[yeu_thich] ADD  CONSTRAINT [uq_nguoi_dung_phong_yeu_thich] UNIQUE NONCLUSTERED 
(
	[nguoi_dung_id] ASC,
	[phong_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[anh_co_so] ADD  DEFAULT ((0)) FOR [la_anh_chinh]
GO
ALTER TABLE [dbo].[anh_co_so] ADD  DEFAULT ((0)) FOR [thu_tu_hien_thi]
GO
ALTER TABLE [dbo].[anh_co_so] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[anh_phong] ADD  DEFAULT ((0)) FOR [la_anh_chinh]
GO
ALTER TABLE [dbo].[anh_phong] ADD  DEFAULT ((0)) FOR [thu_tu_hien_thi]
GO
ALTER TABLE [dbo].[anh_phong] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[co_so_luu_tru] ADD  DEFAULT (N'Dang hoat dong') FOR [trang_thai]
GO
ALTER TABLE [dbo].[co_so_luu_tru] ADD  DEFAULT ((0)) FOR [diem_trung_binh]
GO
ALTER TABLE [dbo].[co_so_luu_tru] ADD  DEFAULT ((0)) FOR [tong_so_danh_gia]
GO
ALTER TABLE [dbo].[co_so_luu_tru] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[co_so_luu_tru] ADD  DEFAULT (getdate()) FOR [ngay_cap_nhat]
GO
ALTER TABLE [dbo].[danh_gia] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[dat_phong] ADD  DEFAULT ((0)) FOR [phi_don_dep]
GO
ALTER TABLE [dbo].[dat_phong] ADD  DEFAULT ((0)) FOR [phi_dich_vu]
GO
ALTER TABLE [dbo].[dat_phong] ADD  DEFAULT ((0)) FOR [thue]
GO
ALTER TABLE [dbo].[dat_phong] ADD  DEFAULT (N'Pending') FOR [trang_thai]
GO
ALTER TABLE [dbo].[dat_phong] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[dat_phong] ADD  DEFAULT (getdate()) FOR [ngay_cap_nhat]
GO
ALTER TABLE [dbo].[doi_tac] ADD  DEFAULT (N'Dang hoat dong') FOR [trang_thai]
GO
ALTER TABLE [dbo].[doi_tac] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[doi_tac] ADD  DEFAULT (getdate()) FOR [ngay_cap_nhat]
GO
ALTER TABLE [dbo].[doi_tac] ADD  DEFAULT ((0.0)) FOR [so_du_vi]
GO
ALTER TABLE [dbo].[duyet_bai_dang] ADD  DEFAULT (getdate()) FOR [ngay_duyet]
GO
ALTER TABLE [dbo].[duyet_dat_phong] ADD  DEFAULT (getdate()) FOR [ngay_duyet]
GO
ALTER TABLE [dbo].[giao_dich_thanh_toan] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[lich_su_trang_thai_dat_phong] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[log_he_thong] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[nguoi_dung] ADD  DEFAULT (N'Hoat dong') FOR [trang_thai]
GO
ALTER TABLE [dbo].[nguoi_dung] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[nguoi_dung] ADD  DEFAULT (getdate()) FOR [ngay_cap_nhat]
GO
ALTER TABLE [dbo].[phien_dang_nhap] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[phong] ADD  DEFAULT ((1)) FOR [so_giuong]
GO
ALTER TABLE [dbo].[phong] ADD  DEFAULT (N'Draft') FOR [trang_thai]
GO
ALTER TABLE [dbo].[phong] ADD  DEFAULT ((0)) FOR [duoc_duyet]
GO
ALTER TABLE [dbo].[phong] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[phong] ADD  DEFAULT (getdate()) FOR [ngay_cap_nhat]
GO
ALTER TABLE [dbo].[thanh_toan] ADD  DEFAULT (N'Pending') FOR [trang_thai]
GO
ALTER TABLE [dbo].[thanh_toan] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[thanh_toan_doi_tac] ADD  DEFAULT ('pending') FOR [trang_thai]
GO
ALTER TABLE [dbo].[thanh_toan_doi_tac] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[thong_bao] ADD  DEFAULT ((0)) FOR [da_doc]
GO
ALTER TABLE [dbo].[thong_bao] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[yeu_thich] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[anh_co_so]  WITH CHECK ADD  CONSTRAINT [fk_anh_co_so] FOREIGN KEY([co_so_id])
REFERENCES [dbo].[co_so_luu_tru] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[anh_co_so] CHECK CONSTRAINT [fk_anh_co_so]
GO
ALTER TABLE [dbo].[anh_phong]  WITH CHECK ADD  CONSTRAINT [fk_anh_phong] FOREIGN KEY([phong_id])
REFERENCES [dbo].[phong] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[anh_phong] CHECK CONSTRAINT [fk_anh_phong]
GO
ALTER TABLE [dbo].[co_so_luu_tru]  WITH CHECK ADD  CONSTRAINT [fk_co_so_doi_tac] FOREIGN KEY([doi_tac_id])
REFERENCES [dbo].[doi_tac] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[co_so_luu_tru] CHECK CONSTRAINT [fk_co_so_doi_tac]
GO
ALTER TABLE [dbo].[danh_gia]  WITH CHECK ADD  CONSTRAINT [fk_danh_gia_dat_phong] FOREIGN KEY([dat_phong_id])
REFERENCES [dbo].[dat_phong] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[danh_gia] CHECK CONSTRAINT [fk_danh_gia_dat_phong]
GO
ALTER TABLE [dbo].[danh_gia]  WITH CHECK ADD  CONSTRAINT [fk_danh_gia_nguoi_dung] FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[danh_gia] CHECK CONSTRAINT [fk_danh_gia_nguoi_dung]
GO
ALTER TABLE [dbo].[danh_gia]  WITH CHECK ADD  CONSTRAINT [fk_danh_gia_phong] FOREIGN KEY([phong_id])
REFERENCES [dbo].[phong] ([id])
GO
ALTER TABLE [dbo].[danh_gia] CHECK CONSTRAINT [fk_danh_gia_phong]
GO
ALTER TABLE [dbo].[dat_phong]  WITH CHECK ADD  CONSTRAINT [fk_dat_phong_nguoi_dung] FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[dat_phong] CHECK CONSTRAINT [fk_dat_phong_nguoi_dung]
GO
ALTER TABLE [dbo].[dat_phong]  WITH CHECK ADD  CONSTRAINT [fk_dat_phong_phong] FOREIGN KEY([phong_id])
REFERENCES [dbo].[phong] ([id])
GO
ALTER TABLE [dbo].[dat_phong] CHECK CONSTRAINT [fk_dat_phong_phong]
GO
ALTER TABLE [dbo].[doi_tac]  WITH CHECK ADD  CONSTRAINT [fk_doi_tac_nguoi_dung] FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doi_tac] CHECK CONSTRAINT [fk_doi_tac_nguoi_dung]
GO
ALTER TABLE [dbo].[duyet_bai_dang]  WITH CHECK ADD  CONSTRAINT [fk_duyet_bai_dang_admin] FOREIGN KEY([admin_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[duyet_bai_dang] CHECK CONSTRAINT [fk_duyet_bai_dang_admin]
GO
ALTER TABLE [dbo].[duyet_bai_dang]  WITH CHECK ADD  CONSTRAINT [fk_duyet_bai_dang_phong] FOREIGN KEY([phong_id])
REFERENCES [dbo].[phong] ([id])
GO
ALTER TABLE [dbo].[duyet_bai_dang] CHECK CONSTRAINT [fk_duyet_bai_dang_phong]
GO
ALTER TABLE [dbo].[duyet_dat_phong]  WITH CHECK ADD  CONSTRAINT [fk_duyet_dat_phong_admin] FOREIGN KEY([admin_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[duyet_dat_phong] CHECK CONSTRAINT [fk_duyet_dat_phong_admin]
GO
ALTER TABLE [dbo].[duyet_dat_phong]  WITH CHECK ADD  CONSTRAINT [fk_duyet_dat_phong_dat_phong] FOREIGN KEY([dat_phong_id])
REFERENCES [dbo].[dat_phong] ([id])
GO
ALTER TABLE [dbo].[duyet_dat_phong] CHECK CONSTRAINT [fk_duyet_dat_phong_dat_phong]
GO
ALTER TABLE [dbo].[giao_dich_thanh_toan]  WITH CHECK ADD  CONSTRAINT [fk_gdtt_thanh_toan] FOREIGN KEY([thanh_toan_id])
REFERENCES [dbo].[thanh_toan] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[giao_dich_thanh_toan] CHECK CONSTRAINT [fk_gdtt_thanh_toan]
GO
ALTER TABLE [dbo].[khach_dat_phong]  WITH CHECK ADD  CONSTRAINT [fk_khach_dat_phong] FOREIGN KEY([dat_phong_id])
REFERENCES [dbo].[dat_phong] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[khach_dat_phong] CHECK CONSTRAINT [fk_khach_dat_phong]
GO
ALTER TABLE [dbo].[lich_su_trang_thai_dat_phong]  WITH CHECK ADD  CONSTRAINT [fk_lstt_dat_phong] FOREIGN KEY([dat_phong_id])
REFERENCES [dbo].[dat_phong] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[lich_su_trang_thai_dat_phong] CHECK CONSTRAINT [fk_lstt_dat_phong]
GO
ALTER TABLE [dbo].[lich_su_trang_thai_dat_phong]  WITH CHECK ADD  CONSTRAINT [fk_lstt_nguoi_dung] FOREIGN KEY([nguoi_thay_doi_id])
REFERENCES [dbo].[nguoi_dung] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[lich_su_trang_thai_dat_phong] CHECK CONSTRAINT [fk_lstt_nguoi_dung]
GO
ALTER TABLE [dbo].[log_he_thong]  WITH CHECK ADD  CONSTRAINT [fk_log_he_thong_nguoi_dung] FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[log_he_thong] CHECK CONSTRAINT [fk_log_he_thong_nguoi_dung]
GO
ALTER TABLE [dbo].[nguoi_dung_vai_tro]  WITH CHECK ADD  CONSTRAINT [fk_ndvt_nguoi_dung] FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[nguoi_dung_vai_tro] CHECK CONSTRAINT [fk_ndvt_nguoi_dung]
GO
ALTER TABLE [dbo].[nguoi_dung_vai_tro]  WITH CHECK ADD  CONSTRAINT [fk_ndvt_vai_tro] FOREIGN KEY([vai_tro_id])
REFERENCES [dbo].[vai_tro] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[nguoi_dung_vai_tro] CHECK CONSTRAINT [fk_ndvt_vai_tro]
GO
ALTER TABLE [dbo].[phien_dang_nhap]  WITH CHECK ADD  CONSTRAINT [fk_phien_dang_nhap_nguoi_dung] FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[phien_dang_nhap] CHECK CONSTRAINT [fk_phien_dang_nhap_nguoi_dung]
GO
ALTER TABLE [dbo].[phong]  WITH CHECK ADD  CONSTRAINT [fk_phong_co_so] FOREIGN KEY([co_so_id])
REFERENCES [dbo].[co_so_luu_tru] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[phong] CHECK CONSTRAINT [fk_phong_co_so]
GO
ALTER TABLE [dbo].[phong_tien_ich]  WITH CHECK ADD  CONSTRAINT [fk_pti_phong] FOREIGN KEY([phong_id])
REFERENCES [dbo].[phong] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[phong_tien_ich] CHECK CONSTRAINT [fk_pti_phong]
GO
ALTER TABLE [dbo].[phong_tien_ich]  WITH CHECK ADD  CONSTRAINT [fk_pti_tien_ich] FOREIGN KEY([tien_ich_id])
REFERENCES [dbo].[tien_ich] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[phong_tien_ich] CHECK CONSTRAINT [fk_pti_tien_ich]
GO
ALTER TABLE [dbo].[tai_khoan_ngan_hang_doi_tac]  WITH CHECK ADD  CONSTRAINT [FK_BankAcc_Partner] FOREIGN KEY([doi_tac_id])
REFERENCES [dbo].[doi_tac] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tai_khoan_ngan_hang_doi_tac] CHECK CONSTRAINT [FK_BankAcc_Partner]
GO
ALTER TABLE [dbo].[thanh_toan]  WITH CHECK ADD  CONSTRAINT [fk_thanh_toan_dat_phong] FOREIGN KEY([dat_phong_id])
REFERENCES [dbo].[dat_phong] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[thanh_toan] CHECK CONSTRAINT [fk_thanh_toan_dat_phong]
GO
ALTER TABLE [dbo].[thanh_toan_doi_tac]  WITH CHECK ADD  CONSTRAINT [FK_thanh_toan_doi_tac_doi_tac] FOREIGN KEY([doi_tac_id])
REFERENCES [dbo].[doi_tac] ([id])
GO
ALTER TABLE [dbo].[thanh_toan_doi_tac] CHECK CONSTRAINT [FK_thanh_toan_doi_tac_doi_tac]
GO
ALTER TABLE [dbo].[thong_bao]  WITH CHECK ADD  CONSTRAINT [fk_thong_bao_nguoi_dung] FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[thong_bao] CHECK CONSTRAINT [fk_thong_bao_nguoi_dung]
GO
ALTER TABLE [dbo].[yeu_thich]  WITH CHECK ADD  CONSTRAINT [fk_yeu_thich_nguoi_dung] FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[yeu_thich] CHECK CONSTRAINT [fk_yeu_thich_nguoi_dung]
GO
ALTER TABLE [dbo].[yeu_thich]  WITH CHECK ADD  CONSTRAINT [fk_yeu_thich_phong] FOREIGN KEY([phong_id])
REFERENCES [dbo].[phong] ([id])
GO
ALTER TABLE [dbo].[yeu_thich] CHECK CONSTRAINT [fk_yeu_thich_phong]
GO
ALTER TABLE [dbo].[danh_gia]  WITH CHECK ADD CHECK  (([so_sao]>=(1) AND [so_sao]<=(5)))
GO
/****** Object:  StoredProcedure [dbo].[sp_DangNhap]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- PHAN 3: STORED PROCEDURES (dung voi C# .NET + BCrypt.Net)
-- ============================================================

-- SP1: Dang nhap
CREATE   PROCEDURE [dbo].[sp_DangNhap]
    @ten_dang_nhap  NVARCHAR(50),
    @mat_khau_hash  NVARCHAR(255) OUTPUT,
    @nguoi_dung_id  INT           OUTPUT,
    @ho_ten         NVARCHAR(100) OUTPUT,
    @anh_dai_dien   NVARCHAR(MAX) OUTPUT,
    @trang_thai     NVARCHAR(50)  OUTPUT,
    @nhom_vai_tro   NVARCHAR(50)  OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    -- Tra ve hash de C# tu verify bang BCrypt.Net.BCrypt.Verify()
    SELECT TOP 1
        @mat_khau_hash  = nd.mat_khau,
        @nguoi_dung_id  = nd.id,
        @ho_ten         = nd.ho_ten,
        @anh_dai_dien   = nd.anh_dai_dien,
        @trang_thai     = nd.trang_thai,
        @nhom_vai_tro   = vt.nhom_vai_tro
    FROM nguoi_dung nd
    LEFT JOIN nguoi_dung_vai_tro ndvt ON ndvt.nguoi_dung_id = nd.id
    LEFT JOIN vai_tro vt ON vt.id = ndvt.vai_tro_id
    WHERE nd.ten_dang_nhap = @ten_dang_nhap
      AND nd.trang_thai = N'Hoat dong';

    -- Cap nhat lan cuoi hoat dong
    IF @nguoi_dung_id IS NOT NULL
        UPDATE nguoi_dung
        SET lan_cuoi_hoat_dong = GETDATE(), ngay_cap_nhat = GETDATE()
        WHERE id = @nguoi_dung_id;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DuyetDatPhong]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP4: Cap nhat trang thai dat phong (Admin)
CREATE   PROCEDURE [dbo].[sp_DuyetDatPhong]
    @dat_phong_id   INT,
    @admin_id       INT,
    @trang_thai_moi NVARCHAR(50),   -- 'Confirmed' | 'Cancelled'
    @ghi_chu        NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @trang_thai_cu NVARCHAR(50);
        DECLARE @nguoi_dung_id INT;

        SELECT @trang_thai_cu  = trang_thai,
               @nguoi_dung_id  = nguoi_dung_id
        FROM dat_phong WHERE id = @dat_phong_id;

        UPDATE dat_phong
        SET trang_thai = @trang_thai_moi, ngay_cap_nhat = GETDATE()
        WHERE id = @dat_phong_id;

        INSERT INTO lich_su_trang_thai_dat_phong (dat_phong_id, trang_thai_cu, trang_thai_moi, nguoi_thay_doi_id, ghi_chu)
        VALUES (@dat_phong_id, @trang_thai_cu, @trang_thai_moi, @admin_id, @ghi_chu);

        INSERT INTO duyet_dat_phong (dat_phong_id, admin_id, trang_thai, ghi_chu)
        VALUES (@dat_phong_id, @admin_id,
            CASE @trang_thai_moi
                WHEN N'Confirmed' THEN N'Da duyet'
                WHEN N'Cancelled' THEN N'Tu choi'
                ELSE N'Cho xu ly'
            END, @ghi_chu);

        -- Thong bao cho khach
        DECLARE @msg NVARCHAR(200) =
            CASE @trang_thai_moi
                WHEN N'Confirmed' THEN N'Dat phong #' + CAST(@dat_phong_id AS NVARCHAR) + N' da duoc xac nhan!'
                WHEN N'Cancelled' THEN N'Dat phong #' + CAST(@dat_phong_id AS NVARCHAR) + N' da bi huy.'
                ELSE N'Trang thai dat phong #' + CAST(@dat_phong_id AS NVARCHAR) + N' vua duoc cap nhat.'
            END;

        INSERT INTO thong_bao (nguoi_dung_id, tieu_de, noi_dung, loai)
        VALUES (@nguoi_dung_id, N'Cap nhat dat phong', @msg, N'Dat phong');

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_LayAdminDashboard]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP6: Lay admin dashboard summary
CREATE   PROCEDURE [dbo].[sp_LayAdminDashboard]
AS
BEGIN
    SET NOCOUNT ON;

    -- User stats theo nhom_vai_tro (khop voi UI: Admin | Business Owner | Customer)
    SELECT vt.nhom_vai_tro, nd.trang_thai, COUNT(*) AS so_luong
    FROM nguoi_dung nd
    LEFT JOIN nguoi_dung_vai_tro ndvt ON ndvt.nguoi_dung_id = nd.id
    LEFT JOIN vai_tro vt ON vt.id = ndvt.vai_tro_id
    GROUP BY vt.nhom_vai_tro, nd.trang_thai;

    -- Booking stats
    SELECT trang_thai, COUNT(*) AS so_luong, ISNULL(SUM(tong_tien),0) AS tong_tien
    FROM dat_phong
    GROUP BY trang_thai;

    -- Revenue stats
    SELECT phuong_thuc, trang_thai, COUNT(*) AS so_giao_dich, ISNULL(SUM(so_tien),0) AS tong_tien
    FROM thanh_toan
    GROUP BY phuong_thuc, trang_thai;

    -- Phong stats theo trang_thai (Online | Draft | Pending Activation | Archived)
    SELECT trang_thai, COUNT(*) AS so_luong
    FROM phong
    GROUP BY trang_thai;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_LayDashboardBusiness]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP5: Lay dashboard business (cho trang Business Dashboard)
CREATE   PROCEDURE [dbo].[sp_LayDashboardBusiness]
    @doi_tac_id INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Tong quan
    SELECT
        COUNT(DISTINCT p.id)                                                AS tong_phong,
        COUNT(DISTINCT CASE WHEN p.trang_thai = N'Online' THEN p.id END)   AS phong_online,
        COUNT(DISTINCT dp.id)                                               AS tong_booking,
        COUNT(DISTINCT CASE WHEN dp.trang_thai = N'Confirmed' THEN dp.id END) AS booking_confirmed,
        ISNULL(SUM(CASE WHEN tt.trang_thai = N'Completed' THEN tt.so_tien END), 0) AS tong_doanh_thu,
        ISNULL(AVG(CAST(cs.diem_trung_binh AS FLOAT)), 0)                  AS diem_tb
    FROM doi_tac dt
    INNER JOIN co_so_luu_tru cs ON cs.doi_tac_id = dt.id
    INNER JOIN phong p ON p.co_so_id = cs.id
    LEFT JOIN dat_phong dp ON dp.phong_id = p.id
    LEFT JOIN thanh_toan tt ON tt.dat_phong_id = dp.id
    WHERE dt.id = @doi_tac_id;

    -- 5 booking gan nhat
    SELECT TOP 5
        dp.id           AS booking_id,
        p.ten_phong,
        cs.ten_co_so,
        nd.ho_ten       AS ten_khach,
        dp.ngay_nhan_phong,
        dp.ngay_tra_phong,
        dp.tong_tien,
        dp.trang_thai
    FROM dat_phong dp
    INNER JOIN phong p ON p.id = dp.phong_id
    INNER JOIN co_so_luu_tru cs ON cs.id = p.co_so_id
    INNER JOIN doi_tac dt ON dt.id = cs.doi_tac_id
    INNER JOIN nguoi_dung nd ON nd.id = dp.nguoi_dung_id
    WHERE dt.id = @doi_tac_id
    ORDER BY dp.ngay_tao DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_LayPhongKhaDung]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP2: Lay danh sach phong kha dung (cho trang Discovery)
CREATE   PROCEDURE [dbo].[sp_LayPhongKhaDung]
    @ngay_nhan      DATETIME,
    @ngay_tra       DATETIME,
    @tinh_thanh     NVARCHAR(100) = NULL,
    @loai_phong     NVARCHAR(100) = NULL,
    @gia_min        DECIMAL(18,2) = NULL,
    @gia_max        DECIMAL(18,2) = NULL,
    @so_nguoi       INT           = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        p.id,
        p.ten_phong,
        p.loai_phong,
        p.suc_chua,
        p.so_giuong,
        p.gia_co_ban,
        p.dien_tich,
        p.mo_ta,
        cs.ten_co_so,
        cs.tinh_thanh,
        cs.quan_huyen,
        cs.diem_trung_binh,
        cs.tong_so_danh_gia,
        (SELECT TOP 1 url_anh FROM anh_phong WHERE phong_id = p.id AND la_anh_chinh = 1) AS anh_chinh
    FROM phong p
    INNER JOIN co_so_luu_tru cs ON cs.id = p.co_so_id
    WHERE p.trang_thai     = N'Online'
      AND p.duoc_duyet     = 1
      AND cs.trang_thai    = N'Dang hoat dong'
      AND (@tinh_thanh IS NULL OR cs.tinh_thanh  = @tinh_thanh)
      AND (@loai_phong IS NULL OR p.loai_phong    = @loai_phong)
      AND (@gia_min    IS NULL OR p.gia_co_ban   >= @gia_min)
      AND (@gia_max    IS NULL OR p.gia_co_ban   <= @gia_max)
      AND (@so_nguoi   IS NULL OR p.suc_chua     >= @so_nguoi)
      AND p.id NOT IN (
          SELECT DISTINCT phong_id FROM dat_phong
          WHERE trang_thai IN (N'Confirmed', N'Pending')
            AND NOT (@ngay_tra  <= ngay_nhan_phong OR @ngay_nhan >= ngay_tra_phong)
      )
    ORDER BY cs.diem_trung_binh DESC, p.gia_co_ban ASC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_TaoDatPhong]    Script Date: 4/7/2026 3:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP3: Tao dat phong moi
CREATE   PROCEDURE [dbo].[sp_TaoDatPhong]
    @nguoi_dung_id      INT,
    @phong_id           INT,
    @ngay_nhan          DATETIME,
    @ngay_tra           DATETIME,
    @so_nguoi           INT,
    @gio_nhan           TIME        = NULL,
    @gio_tra            TIME        = NULL,
    @ghi_chu            NVARCHAR(MAX) = NULL,
    @dat_phong_id       INT         OUTPUT,
    @tong_tien          DECIMAL(18,2) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @gia_co_ban   DECIMAL(18,2);
        DECLARE @so_dem       INT;
        DECLARE @phi_don_dep  DECIMAL(18,2) = 150000;
        DECLARE @phi_dich_vu  DECIMAL(18,2);
        DECLARE @thue         DECIMAL(18,2);
        DECLARE @dat_coc      DECIMAL(18,2);

        -- Kiem tra phong con trong
        IF EXISTS (
            SELECT 1 FROM dat_phong
            WHERE phong_id = @phong_id
              AND trang_thai IN (N'Confirmed', N'Pending')
              AND NOT (@ngay_tra <= ngay_nhan_phong OR @ngay_nhan >= ngay_tra_phong)
        )
        BEGIN
            RAISERROR(N'Phong da duoc dat trong khoang thoi gian nay.', 16, 1);
            RETURN;
        END;

        SELECT @gia_co_ban = gia_co_ban FROM phong WHERE id = @phong_id;
        SET @so_dem       = DATEDIFF(DAY, @ngay_nhan, @ngay_tra);
        SET @phi_dich_vu  = @gia_co_ban * @so_dem * 0.10;
        SET @thue         = (@gia_co_ban * @so_dem + @phi_dich_vu + @phi_don_dep) * 0.10;
        SET @tong_tien    = @gia_co_ban * @so_dem + @phi_don_dep + @phi_dich_vu + @thue;
        SET @dat_coc      = @tong_tien * 0.30;

        INSERT INTO dat_phong (nguoi_dung_id, phong_id, ngay_nhan_phong, ngay_tra_phong, so_dem, so_nguoi,
            gio_nhan_phong, gio_tra_phong, gia_moi_dem, phi_don_dep, phi_dich_vu, thue, dat_coc, tong_tien, trang_thai, ghi_chu)
        VALUES (@nguoi_dung_id, @phong_id, @ngay_nhan, @ngay_tra, @so_dem, @so_nguoi,
            @gio_nhan, @gio_tra, @gia_co_ban, @phi_don_dep, @phi_dich_vu, @thue, @dat_coc, @tong_tien, N'Pending', @ghi_chu);

        SET @dat_phong_id = SCOPE_IDENTITY();

        -- Ghi lich su trang thai
        INSERT INTO lich_su_trang_thai_dat_phong (dat_phong_id, trang_thai_cu, trang_thai_moi, nguoi_thay_doi_id, ghi_chu)
        VALUES (@dat_phong_id, NULL, N'Pending', @nguoi_dung_id, N'Khach dat phong moi.');

        -- Tao thong bao cho nguoi dung
        INSERT INTO thong_bao (nguoi_dung_id, tieu_de, noi_dung, loai)
        VALUES (@nguoi_dung_id, N'Dat phong thanh cong',
            N'Dat phong #' + CAST(@dat_phong_id AS NVARCHAR) + N' dang cho xac nhan.', N'Dat phong');

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END;

GO
USE [master]
GO
